<img src="http://stream1.gifsoup.com/view3/1191829/horrible-death-metal-o.gif" alt="band" align="center">
<strong>Artist => </strong><%=@concert.artist %> ,
<strong>Venue => </strong> <%=@concert.venue %> ,
<strong>City => </strong><%=@concert.city %> ,
<strong>Date => </strong><%=@concert.date %> ,
<strong>Price =></strong> <%=@concert.price %> ,
<br>
<br>
<h2 style="padding-left: 45%;">
<%= link_to("Home", "/") %>
</h2>
